@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito Sans", sans-serif;
  background-color: #ecf0f1;
  &::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
    height: 6px;
    border-radius: 2px; /* Bordes redondeados */
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del riel */
    border-radius: 10px; /* Bordes redondeados para el riel */
  }
  &::-webkit-scrollbar-thumb {
    background: #6366f1;
    border-radius: 2px; /* Bordes redondeados para el pulgar */
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #6365f1ae;
    cursor: pointer;
  }
}

.scroll-bar {
  &::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
    height: 6px;
    border-radius: 2px; /* Bordes redondeados */
  }
  &::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color del riel */
    border-radius: 10px; /* Bordes redondeados para el riel */
  }
  &::-webkit-scrollbar-thumb {
    background: #6366f1;
    border-radius: 2px; /* Bordes redondeados para el pulgar */
  }
  &::-webkit-scrollbar-thumb:hover {
    background: rgb(74, 82, 88); /* Color al pasar el mouse por encima */
    cursor: pointer;
  }
}

.scrollbar-hidden::-webkit-scrollbar {
  width: 0;
  height: 0; /* Opcional: para ocultar scrollbar horizontal */
}

/* Clase para ocultar scrollbar en Firefox */
.scrollbar-hidden {
  scrollbar-width: none;
}
